
<div class="container d-flex justify-content-center align-items-center">
  <div class="card bg-light mb-3 text-center" style="width: 45rem;" style="border:1px solid black">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="text-center">
      <fa-icon class="mr-3 fa-8x" [icon]='faUserTie'></fa-icon>
    </div>
    <ul class="list-group list-group-flush">
      <li>
        <fa-icon class="mr-3 fa-2x" [icon]='faUserTie'></fa-icon>
        <small class="media-heading">Nombre</small>
        <p class="h6"><strong>{{empleado.nombre_completo}}</strong></p>
      </li>
      <li>
        <fa-icon class="mr-3 fa-2x" [icon]='faEnvelope'></fa-icon>
        <small class="media-heading">Correo</small>
        <p class="h6"><strong>{{empleado.correo }}</strong></p>
      </li>
      <li>
        <fa-icon class="mr-3 fa-2x" [icon]='faIdCard'></fa-icon>
        <small class="media-heading">Cedula</small>
        <p class="h6"><strong>{{empleado.cedula }}</strong></p>
      </li>
      <li>
        <fa-icon class="mr-3 fa-2x" [icon]='faRing'></fa-icon>
        <small class="media-heading">Estado civil</small>
        <p class="h6"><strong>{{empleado.estado_civil | uppercase}}</strong></p>
      </li>
      <li>
        <fa-icon class="mr-3 fa-2x" [icon]='faBriefcase'></fa-icon>
        <small class="media-heading">Area de trabajo</small>
        <p class="h6"><strong>{{empleado.area_trabajo }}</strong></p>
      </li>
      <li>
        <fa-icon class="mr-3 fa-2x" [icon]='faRestroom'></fa-icon>
        <small class="media-heading">Sexo</small>
        <p class="h6"><strong>{{empleado.sexo}}</strong></p>
      </li>
      <li>
        <fa-icon class="mr-3 fa-2x" [icon]='faPhoneSquare'></fa-icon>
        <small class="media-heading">Telefono</small>
        <p class="h6"><strong>{{empleado.telefono}}</strong></p>
      </li>
      <li>
        <fa-icon class="mr-3 fa-2x" [icon]='faMapPin'></fa-icon>
        <small class="media-heading">Lugar de nacimiento </small>
        <p class="h6"><strong>{{empleado.lugar_nacimiento | uppercase}}</strong></p>
      </li>
    </ul>
  </div>
</div>

<hr>
<button [routerLink]="['/empleados/list']" class=" btn btn-info">
  <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon> Volver
</button>
<br>
