<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1">Control Asistencia</a>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a href=""></a></span>
  <span><a routerLink="/empleados"> Login</a></span>
  <span><a routerLink="/empleados/list"> Lista de empleados</a></span>

</nav>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">


  </div>

  <!-- Selector del COMPONENTE EMPLEADO-->
  <div class="container">
    <div class=" container-fluid">
      <router-outlet></router-outlet>

    </div>
  </div>




  <!-- Footer -->
  <footer>
    <div class="container">
      <p class="text-white">
        &copy; DERECHOS RESERVADOS
      </p>
    </div>
  </footer>

</div>
