.table {
  font-size: 15px;
  background-color: rgb(71, 218, 255);
}
.button{
  -webkit-transform:scale(1,1);
  -webkit-transition-timing-function:ease-out;
  -webkit-transition-duration:250ms;
  -moz-transform:scale(1,1);
  -moz-transition-timing-function:ease-out;
  -moz-transition-duration:250ms;
}

.button:hover{
  -webkit-transform:scale(1.12,1.12);
  -webkit-transition-timing-function:ease-out;
  -webkit-transition-duration:100ms;
  -moz-transform:scale(1.12,1.12);
  -moz-transition-timing-function:ease-out;
  -moz-transition-duration:100ms;
}

